html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #999999;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* HEADER */

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 128px;
}

.site-logo {
  display: inline-block;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-link {
  position: relative;
  color: #95e1d3;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation-item :hover,
.site-navigation-item :focus {
  color: #f38181;
  transition: color 0.2s linear;
}

.site-navigation-item :hover::after,
.site-navigation-item :focus::after {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.site-navigation-link::after {
  display: block;
  content: "";
  background-color: rgba(243, 129, 129, 1);
  position: absolute;
  width: 100%;
  height: 4px;
  top: 26px;
  opacity: 0;
}

/*--SERVICES SECTION--*/

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.special-title {
  font-family: "Kaushan Script", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  text-align: center;
  margin-bottom: 22px;
}

.title {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.title::after {
  display: block;
  content: "";
  position: absolute;
  background-color: rgba(243, 129, 129, 1);
  width: 60px;
  height: 4px;
  margin: 0 auto;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
}

/* ITEMS */

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}

.services-list-item {
  flex-basis: 380px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 100px;
  padding: 0 30px;
}

.services-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.name-item::before {
  display: inline-block;
  align-items: center;
  content: "";
  height: 32px;
  width: 32px;
  margin-right: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  vertical-align: text-top;
}

.icon-photography::before {
  background-image: url("../img/services/photography1.png");
}

.icon-web-design::before {
  background-image: url("../img/services/web-design2.png");
}

.icon-creativity::before {
  background-image: url("../img/services/creativity3.png");
}
.icon-seo::before {
  background-image: url("../img/services/seo4.png");
}
.icon-css-html::before {
  background-image: url("../img/services/css-html5.png");
}
.icon-digital::before {
  background-image: url("../img/services/digital6.png");
}

.name-item {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  line-height: 17px;
}

.about-item {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 62px;
}

/* TEAM SECTION*/

.about-team {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 112px;
  padding: 0 24px;
  margin-bottom: 92px;
}

.team-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  margin-bottom: 82px;
}

.photo-background-blue {
  position: absolute;
  background-color: #95e1d3;
  width: 380px;
  height: 470px;
}

.photo-color-block:hover,
.photo-color-block:focus {
  transform: translate(-10px, -10px);
  transition: transform 0.3s linear, background-color 0.2s linear;
}

.photo-color-block {
  position: relative;
  margin-bottom: 30px;
}

.overlay-card {
  position: absolute;
  background: linear-gradient(
    rgba(243, 129, 129, 0.8) 0%,
    rgba(252, 227, 138, 0.8) 100%
  );
  width: 100%;
  height: 470px;
  top: 0;
  opacity: 0;
}

.photo-color-block:hover .overlay-card {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.overlay-buttons {
  display: flex;
  font-size: 0;
  height: 470px;
  justify-content: center;
  align-items: center;
}

.overlay-buttons button {
  border: none;
  height: 56px;
  width: 56px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fce38a;
  cursor: pointer;
}

.overlay-buttons button:not(:last-child) {
  margin-right: 1px;
}

.card-button-facebook {
  background-image: url("..//img/socials/facebook.svg");
}

.card-button-twitter {
  background-image: url("..//img/socials/twitter.svg");
}
.card-button-pinterest {
  background-image: url("..//img/socials/pinterest.svg");
}
.card-button-instagram {
  background-image: url("..//img/socials/instagram.svg");
}

.overlay-buttons button:hover {
  background-color: #95e1d3;
  transition: background-color 0.2s linear;
}

.team-list-name {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin-bottom: 4px;
}

.team-list-ocupation {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

/* FOOTER */

.footer-info {
  border-top: 2px solid rgba(229, 229, 229, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.location {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.location-color a {
  color: #f38181;
  text-decoration: none;
}

.singup-form {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}

.singup-form input[type="email"] {
  font-family: "Roboto", "Arial", sans-serif;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-size: 14px;
  border: 1px solid rgba(231, 231, 231, 1);
  width: 230px;
  height: 40px;
  margin: 0;
  padding: 14px;
}

.subscribe-button {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  background-color: rgba(149, 225, 211, 1);
  padding: 8px 30px;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/*VISUALLY HIDDEN*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
