html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #999999;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* HEADER */

.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 128px;
}

.site-logo {
  display: inline-block;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-link {
  position: relative;
  color: #95e1d3;
  font-family: "Montserrat", "Arial", "Sans-serif";
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.site-navigation-item :hover,
.site-navigation-item :focus {
  color: #f38181;
  transition: color 0.2s linear;
}

.site-navigation-item :hover::after,
.site-navigation-item :focus::after {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.site-navigation-link::after {
  display: block;
  content: "";
  background-color: rgba(243, 129, 129, 1);
  position: absolute;
  width: 100%;
  height: 4px;
  top: 26px;
  opacity: 0;
}

/*--SERVICES SECTION--*/

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.special-title {
  font-family: "Kaushan Script", "Arial", "Sans-serif";
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  color: #333333;
  text-align: center;
  margin-bottom: 22px;
}

.title {
  position: relative;
  font-family: "Montserrat", "Arial", "Sans-serif";
  font-size: 30px;
  font-weight: 700;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.title::after {
  display: block;
  content: "";
  position: absolute;
  background-color: rgba(243, 129, 129, 1);
  width: 60px;
  height: 4px;
  margin: 0 auto;
  top: 66px;
  left: 50%;
  transform: translateX(-50%);
}

/* ITEMS */

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 92px;
}

.services-list-item {
  flex-basis: 380px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 100px;
  padding: 0 30px;
}

.services-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.name-item::before {
  display: inline-block;
  align-items: center;
  content: "";
  height: 32px;
  width: 32px;
  margin-right: 28px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  vertical-align: text-top;
}

.icon-photography::before {
  background-image: url("..//img/services/photography1.png");
}

.icon-web-design::before {
  background-image: url("..//img/services/web-design2.png");
}

.icon-creativity::before {
  background-image: url("..//img/services/creativity3.png");
}
.icon-seo::before {
  background-image: url("..//img/services/seo4.png");
}
.icon-css-html::before {
  background-image: url("..//img/services/css-html5.png");
}
.icon-digital::before {
  background-image: url("..//img/services/digital6.png");
}

/* .services-list-block {
  display: inline-block;
} */

.name-item {
  font-family: "Montserrat", "Arial", "Sans-serif";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  line-height: 17px;
}

.about-item {
  font-family: "Roboto", "Arial", "Sans-serif";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-left: 62px;
}

/* */

/*  */

/*VISUALLY HIDDEN*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
